---
title: Publications
layout: page
permalink: /publications/
---

{% include page_toc.html sections=site.publication_types class="section-label" %}


{% assign pubs= "" | split: "" %}
{% assign other_pubs= "" | split: "" %}
<!-- IF post is not apart of a project ==> display in seperate group -->
{% for post in site.publications %}
	
	{% if post.project %}
	
		{% assign pubs=pubs | push: post %}

	{% else %}

		{% assign other_pubs=other_pubs | push: post %}

	{% endif %}

{% endfor %}



{% if pubs.size > 0 %}
	{% assign t=site.publication_types[0] %}
	{% include titled_collection_include.html collection=pubs postbox="postbox.html" title=t %}
{% endif %}

{% if other_pubs.size > 0 %}
	{% assign t=site.publication_types[1] %}
	{% include titled_collection_include.html collection=other_pubs postbox="other_publicationsbox.html" title=t %}
{% endif %}
