---
layout: default
title: Home
---

{% if page.url == "/" %}


<!-- Add banner image and website description + creators credit* (bottom)-->
{% capture my_include %}{% include home-banner.md %}{% endcapture %}
{{ my_include | markdownify }}

<!-- Featured
================================================== -->

<!-- 

TODO:: if no featured posts, do not display "<h2>Featured</h2>" 

    ==> gather all featured posts into array ==> display array
-->

<section class="featured-posts">
    <div class="section-title">
        <h2><span>Featured</span></h2>
    </div>
    <div class="row">


<!-- create sorted collections (by date in descending order) -->
{% assign teams = site.teams | sort: "date" | reverse %}
{% assign projects = site.projects | sort: "date" | reverse %}
{% assign members = site.members | sort: "date" | reverse %}
{% assign publications = site.publications | sort: "date" | reverse %}
{% assign software = site.software | sort: "date" | reverse %}


<!-- NOTE:: SHould we have a featured section for each type of post???                                                    -->

    {% for post in teams %}

        {% if post.featured == true %}

            {% include featuredbox.html %}

        {% endif %}

    {% endfor %}

    {% for post in projects %}

        {% if post.featured == true %}

            {% include featuredbox.html %}

        {% endif %}

    {% endfor %}

    {% for post in members %}

        {% if post.featured == true %}

            {% include featuredbox.html group_type=false %}

        {% endif %}

    {% endfor %}

    {% for post in publications %}

        {% if post.featured == true %}

            {% include featuredbox.html group_type=false %}

        {% endif %}

    {% endfor %}

    {% for post in software %}

        {% if post.featured == true %}

            {% include featuredbox.html group_type=false %}

        {% endif %}

    {% endfor %}

    </div>
</section>

{% endif %}
