
{% if include.collection and include.postbox %}

<!-- Posts Index
================================================== -->
<section class="recent-posts">

    <div class="row listrecent">

        <!-- SORT collection by date, DESC -->
        {% assign collection = include.collection | sort: "date" | reverse %}

        {% for post in collection %}

        	   {% include {{include.postbox}} type=include.type %}
               
        {% endfor %}

    </div>

</section>

{% endif %}