{% if include.type %}
	<!-- job can be associated with post 'group' (type) 'team' || 'project' -->

    <!-- SORT collection by date, DESC -->
    {% assign jobs = site.jobs | sort: "date" | reverse %}


	{% assign jobs_array="" | split: "" %}

	{% for job in jobs %}
		
		{% if include.type=="team" %}
			{% if job.team==page.title %}
				{% assign jobs_array=jobs_array | push: job %}
			{% endif %}
		{% endif %}

		{% if include.type=="project" %}
			{% if job.project==page.title %}
				{% assign jobs_array=jobs_array | push: job %}
			{% endif %}
		{% endif %}

	{% endfor%}

{% endif %}
