<!-- begin post -->
{%if include.sub_post==true %}
    <div class="col-lg-12 col-md-12 mb-30px card-group">
{% else %}
    <div class="col-lg-6 col-md-8-offset-2 mb-30px card-group">
{% endif %}

        <div class="card h-100">
            <div class="maxthumb">

                    {% if post.image %}
                        {% assign image=post.image %}
                    {% else %}
                        {% assign image="assets/images/1000px-Puzzle.svg.png" %}
                    {% endif %}

                        {% if site.lazyimages == "enabled" %}
                            <img class="img-fluid lazyimg" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAACCAQAAAA3fa6RAAAADklEQVR42mNkAANGCAUAACMAA2w/AMgAAAAASUVORK5CYII=" data-src="{% if image contains "://" %}{{ image }}{% else %}{{ site.baseurl }}/{{ image }}{% endif %}" alt="{{ post.title }}">
                        {% else %}
                            <img class="img-fluid" src="{% if image contains "://" %}{{ image }}{% else %}{{ site.baseurl }}/{{ image }}{% endif %}" alt="{{ post.title }}"> 
                        {% endif %}

            </div>
            <div class="card-body">
                <!-- Change from: /h2 => /h4, enables table of contents to work properly... -->
                <h4 class="card-title">
                    <span class="text-dark">{{ post.title }}</span>
                </h4>
                <span class="card-text">{{ post.description | strip_html | truncatewords:50 }}</span>
            </div>
            <div class="card-footer bg-white">
                <div class="wrapfooter">
                    {% if post.date %}
                    <span class="post-date">{{ post.date | date_to_string }}</span>
                    {% endif %}

                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
<!-- end post -->