<!-- begin post -->
{% assign author = site.members | where: "author", post.author | first %}

<div class="col-lg-4 col-md-5-offset-1 mb-30px card-group">

    <div class="card h-100">
        <div class="card-body">
            <!-- Change from: /h2 => /h4, enables table of contents to work properly... -->
            <h4 class="sub-card-title">
                {% if post.external_url %}
                    <a class="text-dark" href="{{ post.external_url }}">{{ post.title }}</a>
                {% else %}
                    <a class="text-dark" href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
                {% endif%}
            </h4>


             <h4 class="card-text">
                {% if include.description %}

                    {{ include.description }}

                {% else%}

                    {{ post.excerpt | strip_html | truncatewords:20 }}
            
                {% endif %}
            </h4>
        </div>
        {% if post.author %}
            <div class="card-footer bg-white">
                <div class="wrapfooter">
                    <span class="meta-footer-thumb">
                    {% if author.avatar %}
                    <img class="author-thumb" src="{{site.baseurl}}/{{ author.avatar }}" alt="{{ author.name }}">
                    {% else %}
                    <img class="author-thumb" src="https://www.gravatar.com/avatar/{{ author.gravatar }}?s=250&d=mm&r=x" alt="{{ author.name }}">
                    {% endif %}
                    </span>
                    <span class="author-meta">
                    <span class="post-name"><a href="{{site.baseurl}}}{{ author.url }}">{% if include.author_note %}{{include.author_note}}: {% endif %}{{ author.title }}</a></span><br/>
                    </span>
                    <div class="clearfix"></div>
                </div>
            </div>
        {% endif %}

    </div>
</div>
<!-- end post -->