---
# Add a comment to make this file sass-y.
# Change this file for any custom CSS.
---

.tab { margin-left: 40px; }

.toc-background {background-color: #F5F5F5;   border-radius: 15px;}

#opportunities-text{
	font-size: 18px;

}

/* Container needed to position the overlay. Adjust the width as needed */
#header-item {
  position: relative;
  cursor: pointer;

}

/* Make the image to responsive */
.hover-item {
  display: block;

}

/* The overlay effect - lays on top of the container and over the image */
.appear-label {
  position: relative;
  bottom: 25px;
  left: 3px;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1;
  border-radius: 15px;
  transition-timing-function: ease-in-out;
  transition-duration: .5s;
  transition-delay: 0s;
  opacity:0;
  color: white;
  font-size: 13px;
  text-align: center;
}

/* When you mouse over the container, fade in the overlay title */
#header-item:hover .appear-label {
  opacity: 1;
}

.icon-block
{
	padding: 10px;
}

.squ-block {
	display: inline-block;
	position: relative;
	bottom: 10px;
	cursor: pointer;
	padding: 5px;
	text-align: center;
	width: 90px;
	height: 80px;
	margin: 12px;
}

.b-text {
    font-size: 35px;
    font-weight: 700;
    margin-top: -10px;
    color: #0066AC;
}

.link-text-color{
  color: #0066AC;

}

.s-text {
    font-size: 13px;
    font-weight: 300;
    margin-top: -10px;
    text-transform: capitalize;
    white-space: nowrap;
    color: #0066AC;
}


.listrecent h4.card-title2 {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1;
}

.author-description {
    margin-bottom: 5px;
    margin-top: 5px;
    font-size: 0.95rem;
}

.tag-label {
  display: inline-block;
  position: relative;
  padding: 1px;
  border-style: solid;
  border-color:rgba(0, 0, 0, 0.5); /* Black see-through */
  border-width: 1px;
  color: #f1f1f1;
  border-radius: 15px;
  opacity:.5;
  color: #858585;
  font-size: 12px;
  text-align: center;
  width: 100px;
  text-transform: uppercase;
}

.category-label{
  padding: 5px 10px 7px;
  background: #222;
  border-radius: 30px;
  color: #fff;
  font-weight: 500;
  text-transform: lowercase;
  font-size: 0.8rem;
  display: inline-block;
}

.section-label{
  font-weight: 550;
  font-size: 1rem;
}


/* We need to add display:inline in order to align the '>>' of the 'read more' link */
.post-excerpt p {
	display:inline;
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
	"syntax",
    "starsnonscss"
;
