<!--
A group includes members (team || project)

Include for listing members of group

required input:

- members_array: Array of member-names to output 
------ FIRST:: must find all Member-posts from members_names array
-->

{% if include.members_array and include.section %}

	<!-- SLOW + UGLY -- Get-the-job-done way (N^2)
			==> could change to a .yaml file of authors...
	 -->

	<!-- Get all member_posts and output them-->
	<div class="section-title col-md-12 mt-4">
	<h2 id="{{include.section | replace: " ","-"}}"><span class="text-capitalize">{{include.section}}</span></h2>
	</div>

	<div class="row listrecent">
	   {% for member in include.members_array %}

	   		<!-- SLOW + UGLY -- Get-the-job-done way O(N * M) [N = total_member_posts, M = total_members_to_display -> sizeof(members_array)] 
				- Gets the member post associated with the name 'member'
	   		-->
			{% assign member_post = site.members | where: "author", member | first %}

			<!--Formatting-->


                <div class="col-xs-12 col-md-5 col-lg-4 h-75 text-center mb-4 mb-md-0">
                    {% if member_post.avatar %}
                    <img class="member-thumb" src="{{site.baseurl}}/{{ member_post.avatar }}" alt="{{ member_post.name }}">
                    {% else %}
                    <img class="member-thumb" src="https://www.gravatar.com/avatar/{{ member_post.gravatar }}?s=250&d=mm&r=x" alt="{{ member_post.name }}">
                    {% endif %}
                    <a class="link-dark" href="{{site.baseurl}}{{ member_post.url }}">{{ member_post.title }}</a>
                    <!--<a target="_blank" href="{{ author_post.twitter }}" class="btn follow">Follow</a>-->
                    <br>
                    <span class="author-description">{{ member_post.type_group }}</span>
                </div>



<!--
	      	<li><a href="{{ member_post.url }}">{{ member_post.title }}</a></li>
-->   
	   {% endfor %}
	</div>

{% endif %}