---
layout: post
group: project
sections: ["About", "Fundings", "Members", "Publications", "Software", "Opportunities", "Media"]
headers: ["Starting Date", "Ending Date", "Status", "Keyword", "Member", "Software", "Publication"]

#Status types for 'page.status' variable
# Enum would be mighty nice here...
statuses: ["Completed", Ongoing", "Halted"]
---


<!-- 
Creates the 'pubs' and 'softs' array (if any publications/softwares)
	NOTE:: depended on by post_toc.html 
-->
{% include products_array.html tag=page.title type=layout.group %}

<!-- 
Creates the 'jobs_array' (if any jobs associated with group)
	NOTE:: depended on by post_toc.html 
-->
{% include jobs_array.html type=layout.group %}

<!-- Check if this project has any media to display -->
{% include media_array.html type=layout.group %}



<!-- Create Table of Contents (toc) -->
{% include post_toc.html members=page.people media_array=media_array %}
​
<!--
Sections -- extra (funding + status) + collection includes 
-->
{% assign s=layout.sections[0] %}
{% include SectionIncludes/about_include.html about=content section=s %}

{% assign s=layout.sections[1] %}
{% include SectionIncludes/funding_include.html section=s  %}

{% assign s=layout.sections[2] %}
{% include SectionIncludes/members_include.html members_array=page.people section=s %}

<!-- List publications and softwares-->
{% assign s=layout.sections[3] %}
{% include SectionIncludes/publications_include.html publications=pubs section=s %}
<!-- List publications and softwares-->
{% assign s=layout.sections[4] %}
{% include SectionIncludes/software_include.html software=softs section=s %}

{% assign s=layout.sections[5] %}
{% include SectionIncludes/jobs_include.html group_jobs=jobs_array section=s %}

{% assign s=layout.sections[6] %}
{% include SectionIncludes/media_include.html section=s group_media=media_array %}